{% extends 'viewer/base.html' %}
{% block content %}
<div class="container">
    <form method="post" class="row">
        {% csrf_token %}
        <div class="col-lg-3 form__group">
            <label for="{{ form.forename.name }}" class="form__label">Forename</label>
            <input id="{{ form.forename.id_for_label }}" class="video-filter-obj form__field"
                type="{{form.forename.field.widget.input_type}}" name="{{ form.forename.name }}"
                maxlength="{{ form.forename.field.max_length }}" value="{{ object.forename }}" 
                {% if form.forename.field.required %}required{% endif %}>
        </div>
        <div class="col-lg-3 form__group">
        <label for="{{ form.surname.name }}" class="form__label">Surname</label>
        <input id="{{ form.surname.id_for_label }}" class="video-filter-obj form__field"
            type="{{form.surname.field.widget.input_type}}" name="{{ form.surname.name }}"
            maxlength="{{ form.surname.field.max_length }}" value="{{ object.surname }}" 
            {% if form.surname.field.required %}required{% endif %}>
        </div>
        <div class="col-lg-3 form__group">
        <label for="{{ form.birth_year.name }}" class="form__label">Birth Year</label>
        <input id="{{ form.birth_year.id_for_label }}" class="video-filter-obj form__field"
            type="{{form.birth_year.field.widget.input_type}}" name="{{ form.birth_year.name }}"
            maxlength="{{ form.birth_year.field.max_length }}" value="{{ object.birth_year }}" 
            {% if form.birth_year.field.required %}required{% endif %}>
        </div>
        <div class="col-lg-3 form__group">
        <label for="{{ form.nationality.name }}" class="form__label">Nationality</label>
        <input id="{{ form.nationality.id_for_label }}" class="video-filter-obj form__field"
            type="{{form.nationality.field.widget.input_type}}" name="{{ form.nationality.name }}"
            maxlength="{{ form.nationality.field.max_length }}" value="{{ object.nationality }}" 
            {% if form.nationality.field.required %}required{% endif %}>
        </div>
        <div class="col-lg-4 form__group">
        <label for="{{ form.labels.name }}">Labels</label>
            {{form.labels}}
        </div>
        <div class="col-lg-8 form__group">
        <label for="{{ form.videos.name }}">Videos</label>
        {{form.videos}}
        </div>
        <div class="col-lg-4 form__group">
        <label for="{{ form.images.name }}">Images</label>
        {{form.images}}
        </div>
        <div class="col-lg-2">
            <input type="submit" value="Save">
        </div>
    </form>
</div>

{% endblock %}