{% extends 'viewer/base.html' %}
{% load custom_filters %}
{% block content %}
<div class="container-fluid">

    {% if movies %}
    {% include "viewer/carousel.html" with id="carousel7" title="Movies" result_set=movies type="videos" %}
    {% endif %}
    {% if shows %}
    {% include "viewer/carousel.html" with id="carousel8" title="Shows:" result_set=shows type="videos" %}
    {% endif %}
    {% if newest %}
    {% include "viewer/carousel.html" with id="carousel9" title="Newest:" result_set=newest type="videos" %}
    {% endif %}


    {% for key, dataset in label_videos.items %}
    {% include "viewer/carousel.html" with id="carousel"|connect:forloop.counter title=key result_set=dataset type="videos" %}
    {% endfor %}

    {% if actors %}
    <div class="index-actor-preview">
        <h2>Actors:</h2>
        <div class="card-deck">
            {% for actor in actors %}
            {% include "viewer/actor_card.html" with actor=actor %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}