version: "3.2"
services:
  postgres:
    container_name: postgresql
    hostname: postgresql
    image: postgres:13.3-alpine
    environment:
      - POSTGRES_DB=fapflix
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - "5432:5432"
    volumes:
        - db-data:/var/lib/postgresql/data
    shm_size: '1gb'
    restart: always
  
  django:
    container_name: django
    build: .
    ports:
      - "80:80"
    depends_on:
      - "postgres"
    volumes:
      - <Change to your video folder>:/srv/data/fapflix/viewer/static/viewer/ext_videos
      - media-volume:/srv/data/fapflix/media
      - static-thumbnails:/srv/data/fapflix/viewer/static/viewer/images/thumbnails
      - static-previews:/srv/data/fapflix/viewer/static/viewer/images/previews
      - ml-volume:/root
    environment: 
      - POSTGRES_HOST=postgresql
    working_dir: /srv/data/fapflix
    command: bash -c
      "mkdir -p /var/tmp/django_cache
      && python manage.py makemigrations
      && python manage.py migrate
      && python manage.py loaddata labels.json
      && python manage.py runserver 0.0.0.0:80"
    restart: always

volumes: 
  db-data:
    name: fapflix20_db-data
  media-volume:
    name: fapflix20_media-volume
  static-thumbnails:
    name: fapflix20_static-thumbnails
  static-previews:
    name: fapflix20_static-previews
  ml-volume:
    name: fapflix20_ml-volume