version: "3.2"
services:
  django:
    container_name: django
    build: .
    expose:
      - 8000
    depends_on:
      - "postgres"
    volumes:
      - static-volume:/srv/data/moars/viewer/static/
      - media-volume:/srv/data/moars/media
      - local-media-volume:/srv/data/moars/local_media/movies
      - local-media-volume2:/srv/data/moars/local_media/tvshows
      - ml-volume:/root
      - db-data:/srv/data/db
    environment: 
      - POSTGRES_HOST=postgresql
      - DJANGO_LOGLEVEL=debug
      - tvdb_key=<tvdb_key_here>
    working_dir: /srv/data/moars
    command: bash -c
      "mkdir -p /var/tmp/django_cache
      && python manage.py makemigrations
      && python manage.py migrate
      && python manage.py loaddata labels.json
      && python manage.py collectstatic --noinput --clear
      && gunicorn moars.wsgi:application --timeout 120 --workers=4 --threads=3 --worker-class=gthread --access-logfile - --log-level debug --error-logfile - --bind 0.0.0.0:8000"
    restart: always

  nginx:
    build: ./nginx
    container_name: nginx
    volumes:
      - static-volume:/srv/data/website/static
      - local-media-volume:/srv/data/website/media/movies
      - local-media-volume2:/srv/data/website/media/tvshows
    ports:
      - 80:80
      - 443:443
    depends_on:
      - django

volumes: 
  db-data:
  media-volume:
  ml-volume:
  static-volume:
  local-media-volume1:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "C:/movies"
  local-media-volume2:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "C:/tvshows"