fastapi==0.115.12
uvicorn==0.34.2
sqlmodel==0.0.24
pydantic==2.11.3
python-multipart==0.0.20
ffmpeg-python==0.2.0
opencv-python==4.11.0.86
deepface==0.0.93
watchdog==6.0.0
tf-keras==2.19.0
alembic==1.15.2