<div class="card person-card">
    <a href="{% url 'viewer:person' person.id %}" class="row person-mini-profile">
        <img src="/viewer/images/{{ person.avatar }}" class="card-img-top person-profile-img"
            alt="{{person.forename}} {{person.surname}}">
    </a>
    <div class="card-body">
        <a href="{% url 'viewer:person' person.id %}" class="row person-mini-profile">
            <h3 class="card-title">{{person.forename}} {{person.surname}}</h3>
        </a>
        {% for label in person.labels.all %}
        <small class="card-text video-label">
            <a href="/label/{{label.id}}/">{{label.label}}</a><a onclick="remPersonLabel(this)"
                class="delete-icon" label-id="{{label.id}}" person-id="{{person.id}}"><i
                    class="fas fa-trash-alt"></i></a>
        </small>

        {% endfor %}
        {% if person.birth_year %}
        <small class="text-muted float-right">Born {{person.birth_year}}</small>
        {% endif %}
        <small class="text-muted float-left">Videos: {{person.videos.all|length}}</small>
    </div>

</div>