{% extends 'viewer/base.html' %}
{% load custom_filters %}
{% block content %}
<div class="container-fluid">
    {% if result_videos1 %}
    {% include "viewer/carousel.html" with id="carousel7" title="Movies" result_set=result_videos1 type="videos" %}
    {% endif %}
    {% if result_videos2 %}
    {% include "viewer/carousel.html" with id="carousel8" title="Shows:" result_set=result_videos2 type="videos" %}
    {% endif %}
    {% if result_videos3 %}
    {% include "viewer/carousel.html" with id="carousel9" title="Newest:" result_set=result_videos3 type="videos" %}
    {% endif %}


    {% for key, dataset in label_videos.items %}
    {% include "viewer/carousel.html" with id="carousel"|connect:forloop.counter title=key result_set=dataset type="videos" %}
    {% endfor %}

</div>
{% endblock %}