{% extends 'viewer/base.html' %} {% load humanize %} {% load static %} {% block content %}
<div class="container">
  <article>
    <header>
      <fieldset role="group">
        <h3>Video Count:</h3>
        <div id="video-count">{{ video_count }}</div>
        <h3>Image Count:</h3>
        <div id="image-count">{{ image_count }}</div>
      </fieldset>
    </header>
    <div class="datablock loader-info">
      <p id="load-icon" style="display: none">
        <i class="fa fa-spinner fa-spin"></i> Searching for new Videos...
      </p>
      <p id="info-box"></p>
      <p id="file-info"></p>
    </div>
    <footer>
      <button id="add-files" onclick="get_new_videos()">Update content</button>
      <button id="clean-files">Clean content</button>
    </footer>
  </article>
</div>

{% endblock %} {% block script %} 
<script src="{% static 'viewer/js/library_load.js' %}"></script>
{% endblock %}
