{% extends 'viewer/base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
<div class="container">
    <div class="row">
        {% for image in page_obj %}

        <div class="col-lg-3">
            <div class="card image-overview-card">
                <a href="/local-media{{image.path|urlencode}}">
                    <img src="/local-media{{image.path|urlencode}}" id="{{image.id}}"
                        class="image-preview" alt="{{image.filename}}">
                </a>
                <div class="card-body row">
                    <div class="col-lg-6">
                        {% if image.person_age %}
                        Age: {{image.person_age}}
                        {% endif %}
                    </div>
                    <div class="col-lg-5 offset-1">
                        {% if image.favorite %}
                        <a class='float-right video-info-obj' image-id="{{image.id}}" id='rem-fav'
                            onclick=remfav(this)><i class="fas fa-heart"></i></a>
                        {% else %}
                        <a class='float-right video-info-obj' image-id="{{image.id}}" id='add-fav'
                            onclick=addfav(this)><i class="far fa-heart"></i></a>
                        {% endif %}
                    </div>
                    <div class="col-lg-12"><a onclick="remImage(this)" class="delete-icon" image-id="{{image.id}}"><i
                                class="fas fa-trash-alt"></i>Delete file</a></div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    {{ page_obj.previous_page_number}}</a></li>
            {% endif %}

            <li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}">
                    {{ page_obj.number}}<span class="sr-only">(current)</span></a></li>
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    {{page_obj.next_page_number }}</a>
            </li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>

</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    function addfav(button) {
        console.log(button);
        const Http = new XMLHttpRequest();
        imageid = button.getAttribute("image-id");
        const url = "/fav_image/" + imageid + "/";
        Http.open("GET", url);
        Http.send();
        button.setAttribute("onClick", "remfav(this)");
        button.setAttribute("id", "rem-fav");
        button.setAttribute("image-id", imageid);
        $(button).children()[0].setAttribute("class", "fas fa-heart");
    }
    function remfav(button) {
        const Http = new XMLHttpRequest();
        imageid = button.getAttribute("image-id");
        const url = "/remfav_image/" + imageid + "/";
        Http.open("GET", url);
        Http.send();
        button.setAttribute("onClick", "addfav(this)");
        button.setAttribute("id", "add-fav");
        button.setAttribute("image-id", imageid);
        $(button).children()[0].setAttribute("class", "far fa-heart");
    }
    function remImage(button) {
        imageid = button.getAttribute("image-id");
        console.log(imageid);
        $.ajax({
            url: "{% url 'viewer:rem-image' %}",
            method: "POST",
            data: {
                image_id: imageid
            }, success: function (data) {
                location.reload();
            }
        })
        console.log("Send post request!")
    }
</script>
{% endblock %}