{% extends 'viewer/base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
<div class="container">
    <div class="row">
        {% for video in page_obj %}

        <div class="col-lg-3">
            <div class="card video-overview-card">
                <a href="{% url 'viewer:video' video.id %}" class="imgSW-preview card-img-top">
                    <img src="{% static 'viewer/images/thumbnails/' %}{{video.thumbnail|urlencode}}"
                        preview="{% static 'viewer/images/previews/' %}{{video.preview|urlencode}}"
                        thumbnail="{% static 'viewer/images/thumbnails/' %}{{video.thumbnail|urlencode}}"
                        class="video-preview" dataframes={{dataframes}} name='preview-{{video.id}}' alt="{{video.filename}}">
                </a>
                <div class="card-body row">
                    <div class="col-lg-6">
                        {% if video.person_age %}
                        Age: {{video.person_age}}
                        {% endif %}
                    </div>
                    <div class="col-lg-5 offset-1">
                        {% if video.duration %}
                        {{video.duration|human_duration}}
                        {% endif %}
                    </div>
                    <div class="col-lg-6">
                        {{video.dim_height}}p
                    </div>
                    <div class="col-lg-5 offset-1">
                        {{video.rating}}<i class="far fa-star"></i>
                    </div>
                </div>
            </div>
        </div>


        {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    {{ page_obj.previous_page_number}}</a></li>
            {% endif %}

            <li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}">
                    {{ page_obj.number}}<span class="sr-only">(current)</span></a></li>
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    {{page_obj.next_page_number }}</a>
            </li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>

</div>
{% endblock %}