{% extends 'viewer/base.html' %}
{% load humanize %}
{% load static %}
{% load custom_filters %}
{% block content %}
<link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
        <div class='col-lg-8 col-md-12 video-block'>
            <h1>{{video.filename}}</h1>
            <div class="embed-responsive embed-responsive-16by9 video">
                <video id="vid-{{video.id}}" class="video-js embed-responsive-item" controls="" preload="auto"
                    poster="{% static 'viewer/images/thumbnails/' %}{{video.thumbnail}}" loop="true">
                    <source src="/local-media{{video.path|urlencode}}" type="{{video.filename|get_type}}">
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a
                        web browser that
                        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            </div>
            <div class="row justify-content-between" style="min-height:50px">
                <div class="col-lg-10 no-padding-left">
                    <div class="row  video-labels">
                        {% for v_label in video.labels.all %}
                        <div class="video-label col-lg-2 col-sm-6">
                            <a href="/label/{{v_label.id}}/">{{v_label.label}}</a><a onclick="remVideoLabel(this)"
                                class="delete-icon" label-id="{{v_label.id}}"><i class="fas fa-trash-alt"></i></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-2 col-sm-12 no-padding-left">
                    <select class="label-select float-right" list="add-label" id="label-choice" name="label-choice" />
                    <option value="" disabled selected>Add Label</option>
                    {% for label in labels %}
                    <option value="{{label.id}}">{{label.label}}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row justify-content-between video-infos">
                <div class="col-lg-2 no-padding-left">
                    <a class='btn btn-danger video-info-obj' id='rem-vid' onclick=remvid(this) href="#">
                        <span>Delete File</span> <i class="fas fa-trash"></i></i></a>
                </div>
                <div class="col-lg-2 no-padding-left">
                    <a class='btn btn-danger video-info-obj' id='rem-vid' onclick=remmeta(this) href="#">
                        <span>Delete From Library</span> <i class="fas fa-trash"></i></i></a>
                </div>
                <div class="col-lg-1 form__group field" style="margin-top:0;">
                    <label for="age" class="form__label">Age</label>
                    <input id="video-info-age" class="video-filter-obj form__field" type="number" size="6" name="age"
                        max="99" value="{{video.person_age}}">
                </div>
                <div class="col-lg-4">
                    <fieldset class="rating">
                        <input type="radio" id="star5" name="rating" value="5" /><label for="star5"
                            title="Hot!"></label>
                        <input type="radio" id="star4" name="rating" value="4" /><label for="star4"
                            title="Pretty good"></label>
                        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh"></label>
                        <input type="radio" id="star2" name="rating" value="2" /><label for="star2"
                            title="Kinda bad"></label>
                        <input type="radio" id="star1" name="rating" value="1" /><label for="star1"
                            title="Sucks big time"></label>
                    </fieldset>
                </div>
                <div class="col-lg-1">
                    {% if video.favorite %}
                    <a class='float-left video-info-obj' id='rem-fav' onclick=remfav(this)><i
                            class="fas fa-heart"></i></a>
                    {% else %}
                    <a class='float-left video-info-obj' id='add-fav' onclick=addfav(this)><i
                            class="far fa-heart"></i></a>
                    {% endif %}
                </div>
                <div class="col-lg-12">
                    <p id="load-icon" style="display:none"><i class="fas fa-spinner fa-spin"></i> Running face
                        recognition. Depening on your library size, this might take a while</p>
                </div>
            </div>

        </div>
        {% if recommendations|length > 1 %}
        <div class='col-lg-4 col-md-12'>
            <h3 style='font-size:2rem'>Recommendations:</h3>
            <div class='border'>
                <div class="row">
                    {% for video in recommendations|slice:":8" %}
                    <div class="col-lg-6 col-md-4 col-12 img_preview img_side">
                        <a href="{% url 'viewer:video' video.id %}">
                            <img src="{% static 'viewer/images/thumbnails/' %}{{video.thumbnail}}"
                                preview="{% static 'viewer/images/previews/' %}{{video.preview}}"
                                thumbnail="{% static 'viewer/images/thumbnails/' %}{{video.thumbnail}}"
                                class="car-preview-img video-preview" dataframes={{dataframes}} name='preview-{{video.id}}'
                                alt="{{video.filename}}" style="width:100%;">
                        </a>
                        <div class="img-overlay">
                            <p>{{video.filename|truncatechars:35}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if recommendations|length >= 14 %}
        <div>
            {% include "viewer/carousel.html" with id="carousel1"  title="Further recommendations:" result_set=recommendations|slice:"8:32" type="videos" dataframes=15 %}
        </div>
        {% endif %}
        {% else %}
        <div class='col-lg-4 col-md-12'>
            <h3 style='font-size:2rem'>Other videos:</h3>
            <div class='border'>
                <div class="row">
                    {% for video in rvideos|slice:":8" %}
                    <div class="col-lg-6 col-md-4 col-12 img_preview img_side">
                        <a href="{% url 'viewer:video' video.id %}">
                            <img src="{% static 'viewer/images/thumbnails/' %}{{video.thumbnail}}"
                                preview="{% static 'viewer/images/previews/' %}{{video.preview}}"
                                thumbnail="{% static 'viewer/images/thumbnails/' %}{{video.thumbnail}}"
                                class="car-preview-img video-preview" dataframes={{dataframes}} name='preview-{{video.id}}'
                                alt="{{video.filename}}" style="width:100%;">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if rvideos|length >= 14 %}
        <div>
            {% include "viewer/carousel.html" with id="carousel1" title="Further recommendations:" result_set=rvideos|slice:"8:32" type="videos" dataframes=15 %}
        </div>
        {% endif %}


        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
<script type="text/javascript">
    function addfav(button) {
        const Http = new XMLHttpRequest();
        const url = "{% url 'viewer:add_favorites' video.id %}"
        Http.open("GET", url);
        Http.send();
        button.setAttribute("onClick", "remfav(this)");
        button.setAttribute("id", "rem-fav");
        $(button).children()[0].setAttribute("class", "fas fa-heart");
    }
    function remfav(button) {
        const Http = new XMLHttpRequest();
        const url = "{% url 'viewer:rem_favorites' video.id %}"
        Http.open("GET", url);
        Http.send();
        button.setAttribute("onClick", "addfav(this)");
        button.setAttribute("id", "add-fav");
        $(button).children()[0].setAttribute("class", "far fa-heart");
    }
    function remvid(button) {
        $.ajax({
            url: "{% url 'viewer:rem_video' %}",
            method: "POST",
            data: {
                video_id: "{{video.id}}"
            }, success: function (data) {
                window.location = "/";
            }
        })
        console.log("Send post request!")
    }
    function remmeta(button) {
        $.ajax({
            url: "{% url 'viewer:rem_video_meta' %}",
            method: "POST",
            data: {
                video_id: "{{video.id}}"
            }, success: function (data) {
                window.location = "/";
            }
        })
        console.log("Send post request!")
    }
    function remVideoLabel(button) {
        $(button).parent().hide();
        $.ajax({
            url: "{% url 'viewer:label-video-delete' %}",
            method: "POST",
            data: {
                label_id: $(button).attr("label-id"),
                video_id: "{{video.id}}"
            }
        })
    }
    $(document).ready(function () {
        rating_val = parseFloat("{{video.rating}}")
        if (rating_val > 0) {
            if (rating_val % 1 != 0) {
                final = "half";
                rating_val = parseInt(rating_val);
            } else {
                final = "";
            }
            rat_selector = "#star" + rating_val + final;
            $(rat_selector).prop("checked", true);
        }
        $(".rating input").on("click", function () {
            rating = $(this).val();
            console.log(rating)
            console.log(this)
            $.ajax({
                url: "{% url 'viewer:rate-video' %}",
                method: "POST",
                data: {
                    rating: rating,
                    video_id: "{{video.id}}"
                }
            })
        });
        document.getElementById("video-info-age").onchange = function () {
            age = $(this).val();
            console.log(age)
            $.ajax({
                url: "{% url 'viewer:change-age' %}",
                method: "POST",
                data: {
                    age: age,
                    video_id: "{{video.id}}"
                }
            })
        };
        document.getElementById("label-choice").onchange = function () {
            var chosen_label = $(this).val();
            $.ajax({
                url: "{% url 'viewer:label-video-add' %}",
                method: 'POST',
                data: {
                    video_id: "{{video.id}}",
                    label_id: chosen_label
                },
                success: function (data) {
                    new_label = "<div class=\"video-label col-lg-2\"><a href=\"/label/" + data["label_id"] + "/\">" + data["label"] + "</a><a onclick=\"remVideoLabel(this)\" class=\"delete-icon\" label-id=\"{{v_label.id}}\"><i class=\"fas fa-trash-alt\"></i></a></div>"
                    $(".video-labels").append(new_label);
                },
                error: function (xhr, errmsg, err) {
                    console.log(errmsg)
                    console.log(err)
                }
            })

        }
    });

</script>
{% endblock %}