{% extends 'viewer/base.html' %}
{% load humanize %}
{% load static %}
{% load custom_filters %}
{% block head %}
<title>smol</title>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <article>
        <header>
            <h4>{{video.filename}}</h4>
        </header>

        <video id="vid-{{video.id}}" class="video-fullsize" controls preload="metadata"
            poster="{% static '/thumbnails/' %}{{video.thumbnail}}" loop="true" data-setup="{}">
            <source src="/viewer/images/{{video.path|urlencode}}" type="{{video.filename|get_type}}">
        </video>
        <footer>
            <div>
                <div role="group">
                    {% for v_label in video.labels.all %}
                    <a role="button" class="outline" href="/label/{{v_label.id}}/">{{v_label.label}}</a>
                    {% endfor %}
                </div>
            </div>
            <div>
                 {{form}}
            </div>
            <div role="group">
                <a role="button" class="outline" id='rem-vid' onclick=remvid(this) href="#">
                    <span>Delete File</span> <i class="fa fa-trash"></i></i></a>
                <a role="button" class="outline" id='rem-vid' onclick=remmeta(this) href="#">
                    <span>Delete From Library</span> <i class="fa fa-trash"></i></i></a>
            </div>
            <div role="group">
                {% if video.favorite %}
                <a role="button" id='rem-fav' onclick=remfav(this)><i class="fa fa-heart"></i></a>
                {% else %}
                <a role="button" id='add-fav' onclick=addfav(this)><i class="fa fa-heart-o"></i></a>
                {% endif %}
                <a role="button" id='analyze' onclick=analyze(this)><i class="fa fa-address-card-o "></i> Scan Video</a>
                <a role="button" id='delete-encoding' onclick=deleteEncoding(this)><i class="fa fa-trash-o" aria-hidden="true"></i> Delete recognition data</a>
            </div>
            <p id="load-icon" style="display:none"><i class="fa fa-spinner fa-spin"></i> Running face
                recognition. Depening on your library size, this might take a while</p>
        </footer>
    </article>

    {% if video.related_videos.all|length >= 1 %}
    <div>
        {% include "viewer/video_gallery.html" with title="Recognition related videos:" videos=video.related_videos.all|order_filter:"to_video__score" type="videos" %}
    </div>
    {% endif %}
    {% if recommendations|length > 1 %}
    <div>
        {% include "viewer/video_gallery.html" with title="Recommendations:" videos=recommendations type="videos" %}
    </div>
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script src="{% static 'viewer/js/video_play.js' %}"></script>
{% endblock %}
