{% load static %}
{% load custom_filters %}
<h2>
    <span>
        <div>
            {{ title }} ({{videos.all|length}}):
        </div>
    </span>
</h2>
<div class="main-container">
    {% if videos|length >= 1 and type == "videos" %}
    {% for video in videos %}
    <div class="video-block">
        <a class="video-link" href="{% url 'viewer:video' video.id %}">
            <video muted id="vid-{{video.id}}" class="video-preview" disabledpictureinpicture
                preload="metadata" poster="{% static '/thumbnails/' %}{{video.thumbnail}}" loop="true">
                <source src_tmp="/viewer/images/{{video.path|urlencode}}" type="{{video.filename|get_type}}">
            </video>
            <span>{{video.duration|to_duration}}</span>
            <span>{{video.dim_width}}p</span>
        </a>
    </div>
    {% endfor %}
    {% endif %}
    {% if images|length >= 1 and type == "images" %}
    {% for image in images %}
    <img class="video-js video-preview" src="/viewer/images/{{image.path|urlencode}}">
    {% endfor %}
    {% endif %}
</div>