img.zoom {
  border-radius: 3px;
  object-fit: cover;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
}

.transition {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

@media (min-width: 1200px) {
  .container {
    max-width: 1500px;
  }
  .img-thumbnail {
    max-height: 180px;
  }
  .wide-dropdown {
    width: 50vw;
  }
}

@media (min-width: 768px) {
  .w-md-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
  }
  .img-thumbnail {
    max-height: 180px;
  }
}

@media (min-width: 992px) {
  .w-lg-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .img-thumbnail {
    max-height: 180px;
  }
  .dropdown-menu {
    min-width: 50rem;
  }
}

.card-body {
  padding: 0.25rem;
}

.dropdown-item:hover {
  color: #fff;
  background-color: #d47e9d;
  border-color: #d4145a;
}

.btn-primary {
  background-color: #d4145a;
  border-color: #d47e9d;
}

.btn-primary:hover {
  background-color: #d4145a;
  border-color: #d4145a;
}

.btn-outline-primary {
  border-color: #d4145a;
  color: #d4145a;
}

.btn-primary:disabled {
  background-color: #d47e9d;
  border-color: #d47e9d;
}

.btn-outline-primary:hover {
  border-color: #d4145a;
  background-color: #d4145a;
  color: white;
}

a {
  color: #d47e9d;
}

a:hover {
  color: #d4145a;
}

.jumbotron {
  min-width: 100%;
}

.footer {
  position: relative;
  margin-top: -100px;
  /* negative value of footer height */
  height: 100px;
  clear: both;
  padding-top: 20px;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 150px;
  /* this needs to be bigger than footer height*/
}