@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-fullscreen-active video {
  max-height: 100vh !important; /* Or max-height: none !important; */
}

.my-masonry-grid {
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 16px; 
  background-clip: padding-box;
}


.my-masonry-grid_column > div {
  margin-bottom: 16px;
}

.custom-marker-cluster {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(25, 118, 210, 0.7); /* Example: MUI primary blue */
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
}