<div class="card actor-card">
    <a href="{% url 'viewer:actor' actor.id %}" class="row actor-mini-profile">
        <img src="/viewer/images/{{ actor.avatar }}" class="card-img-top actor-profile-img"
            alt="{{actor.forename}} {{actor.surname}}">
    </a>
    <div class="card-body">
        <a href="{% url 'viewer:actor' actor.id %}" class="row actor-mini-profile">
            <h3 class="card-title">{{actor.forename}} {{actor.surname}}</h3>
        </a>
        {% for label in actor.labels.all %}
        <small class="card-text video-label">
            <a href="/label/{{label.id}}/">{{label.label}}</a><a onclick="remActorLabel(this)"
                class="delete-icon" label-id="{{label.id}}" actor-id="{{actor.id}}"><i
                    class="fas fa-trash-alt"></i></a>
        </small>

        {% endfor %}
        {% if actor.birth_year %}
        <small class="text-muted float-right">Born {{actor.birth_year}}</small>
        {% endif %}
        <small class="text-muted float-left">Videos: {{actor.videos.all|length}}</small>
    </div>

</div>