{% autoescape off %}
{% load humanize %}
{% load static %}
{% load cache %}
{% load custom_filters %}

<head>
    {% block head %}
    <title>Fapflix</title>
    {% endblock %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">



    <link rel="shortcut icon" type="image/png" href="{% static 'viewer/favicons/favicon.ico' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'viewer/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'viewer/css/nflix.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Favicons -->

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'viewer/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'viewer/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'viewer/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'viewer/favicons/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'viewer/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="theme-color" content="#000000">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $("[href]").each(function () {
                if (this.href == window.location.href) {
                    $(this).addClass("active");
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {

            var left = document.getElementsByClassName("carousel-control-prev")
            var right = document.getElementsByClassName("carousel-control-next")

            function scrollRight() {
                var car_id = this.attributes.car_id.value
                var carousel = document.getElementById('carouselSW-container-'.concat(car_id))
                var step = carousel.scrollWidth / 14
                if (!('page' in carousel)) {
                    carousel.page = 1
                }
                else {
                    console.log(carousel.page)
                }
                carousel.scrollLeft += step
                carousel.page += 1
            }
            function scrollLeft() {
                var car_id = this.attributes.car_id.value
                var carousel = document.getElementById('carouselSW-container-'.concat(car_id))
                var step = carousel.scrollWidth / 14
                if ('page' in carousel) {
                    if (carousel.page <= 1) {
                        console.error("No previous page to show.")
                    }
                    else {
                        carousel.page -= 1
                        carousel.scrollLeft -= step
                    }
                }
            }

            for (var i = 0; i < left.length; i++) {
                left[i].addEventListener("click", scrollLeft);
            }

            for (var i = 0; i < right.length; i++) {
                right[i].addEventListener("click", scrollRight);
            }
        });
    </script>
</head>

<body class='fixed-border'>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TLKS58K" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav id="topheader" class="navbar navbar-expand-lg navbar-dark main-header sticky-top">
        <a class="navbar-brand" href="{% url 'viewer:index' %}"><img src="{% static 'viewer/images/logo.svg' %}"
                class='header-logo' alt="Fapflix Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'viewer:index' %}">Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'viewer:labels' %}">Labels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'viewer:actors' %}">Actors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'viewer:load' %}">Loader</a>
                </li>
                {% if rvideo %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'viewer:video' rvideo.id %}">Random Video</a>
                </li>
                {% endif %}
            </ul>
            <form action="{% url 'viewer:search' %}" class="form-inline my-2 my-lg-0 form__group search" method="get">
                <!-- <label for="search" class="form__label">Search</label> -->
                <input id="site-search" name="query" type='search' class="form__field video-filter-obj"
                    placeholder="filenames, labels, etc." aria-label="Search" size="30">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    {% block content %}

    {% endblock %}

    {% block script %}

    {% endblock %}



    </html>
    {% endautoescape %}