{% load static %}
{% load custom_filters %}
<h2 class='rowHeader'>
    <span class='rowTitle'>
        <div class="row-header-title">
            {{ title }}
        </div>
    </span>
</h2>
<div id="{{id}}" class="carousel slide carousel-fade" data-ride="carousel">
    {% if result_videos|length > 0 %}
    <div class="carouselSW-inner hide-scrollbar">
        <div class="carouselSW-item">
            <div id='carouselSW-container-{{id}}' class="carouselSW-container hide-scrollbar">
                {% for video in result_videos %}
                <div id='carouselSW-content-{{id}}' class="imgSW-preview">
                    <a href="{% url 'viewer:video' video.id %}">
                        <img src="{% static 'viewer/images/thumbnails/' %}{{video.thumbnail|urlencode}}"
                            preview="{% static 'viewer/images/previews/' %}{{video.preview|urlencode}}"
                            thumbnail="{% static 'viewer/images/thumbnails/' %}{{video.thumbnail|urlencode}}"
                            class="car-preview-img video-preview d-block w-20" dataframes="70" name='preview-{{video.id}}'
                            alt="{{video.filename}}" style="width:100%;">
                    </a>
                    <div class="img-overlay">
                        <p>{{video.filename|truncatechars:35}}</p>
                    </div>
                    <div class="info-overlay">

                        {% if video.actor_age %}
                        <div class="age">{{video.actor_age}}yrs</div>
                        {% endif %}

                        {% if video.duration %}
                        <div class="duration">duration: {{video.duration|human_duration}}</div>
                        {% endif %}
                        <div class="quality">{{video.dim_height}}p</div>
                        <div class="rating">{{video.rating}}<i class="far fa-star"></i></div>
                    </div>
                    <div class="video-delete" style="display: none">
                        <a onclick=removeVideo(this) video-id="{{video.id}}"" actor-id="{{actor_id}}">Remove <i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        {% if result_videos|length > 6 %}
        <a class="carousel-control-prev" href="#{{id}}" role="button" car_id="{{id}}" id="prev-{{id}}"
            data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#{{id}}" role="button" car_id="{{id}}" id="next-{{id}}"
            data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        {% endif %}


    </div>
    {% endif %}
</div>
