{% extends 'viewer/base.html' %}
{% load custom_filters %}
{% block content %}
<div class="container-fluid">
    <form action="/">
        <div class="row">

            <div class="col-lg-1 col-sm-12 form__group field">
                <label for="age" class="form__label">Age</label>
                <input id="video-filter-age" class="video-filter-obj form__field" type="number" size="6" name="age"
                    max="99" value="{{age}}">
            </div>
            <div class="form__group col-lg-1 col-sm-12 field">
                <label for="quality" class="form__label">Quality</label>
                <select id="video-filter-quality" class="video-filter-obj form__field" name="quality"
                    value="{{quality}}">
                    <option {% ifequal quality "190" %} selected {% endifequal %}>190</option>
                    <option {% ifequal quality "240" %} selected {% endifequal %}>240</option>
                    <option {% ifequal quality "360" %} selected {% endifequal %}>360</option>
                    <option {% ifequal quality "480" %} selected {% endifequal %}>480</option>
                    <option {% ifequal quality "720" %} selected {% endifequal %}>720</option>
                    <option {% ifequal quality "1080" %} selected {% endifequal %}>1080</option>
                    <option {% ifequal quality "2160" %} selected {% endifequal %}>2160</option>
                </select>
            </div>
            <div class="form__group col-lg-1 col-md-12 video-filter-duration  field">
                <label for="h" class="form__label">Duration</label>
                <input id='h' name='h' type='number' class="form__field video-filter-obj" min='0' max='24'
                    value="{{duration|hours}}">
                <label for='h'>h</label>
                <input id='m' name='m' type='number' class="form__field video-filter-obj" min='0' max='59'
                    value="{{duration|minutes}}">
                <label for='m'>m</label>
            </div>
            <div class="form__group col-lg-1 col-md-12  field">
                <label for="order" class="form__label">Order</label>
                <select id="video-filter-order" class="video-filter-obj form__field" name="order" value="{{order}}">
                    <option {% ifequal order 'duration asc' %} selected {% endifequal %}>duration asc</option>
                    <option {% ifequal order 'duration desc' %} selected {% endifequal %}>duration desc</option>
                    <option {% ifequal order 'quality asc' %} selected {% endifequal %}>quality asc</option>
                    <option {% ifequal order 'quality desc' %} selected {% endifequal %}>quality desc</option>
                    <option {% ifequal order 'age asc' %} selected {% endifequal %}>age asc</option>
                    <option {% ifequal order 'age desc' %} selected {% endifequal %}>age desc</option>
                </select>
            </div>
            <div class="col-lg-2 no-padding-left">
                <button type="submit" class="nflx-button">
                    <div class="nflx-button-icon"><i class="fas fa-filter"></i></div>
                    <div style="width: 1rem;"></div>
                    <span class="nflx-button-text">Filter</span>
                </button>
            </div>
        </div>
    </form>
    {% if result_videos1 %}
    {% include "viewer/carousel.html" with id="carousel7" title="Best Rating:" result_set=result_videos1 type="videos" %}
    {% endif %}
    {% if result_videos2 %}
    {% include "viewer/carousel.html" with id="carousel8" title="Newest:" result_set=result_videos2 type="videos" %}
    {% endif %}
    {% if result_videos3 %}
    {% include "viewer/carousel.html" with id="carousel9" title="Favorites:" result_set=result_videos3 type="videos" %}
    {% endif %}


    {% for key, dataset in label_videos.items %}
    {% include "viewer/carousel.html" with id="carousel"|connect:forloop.counter title=key result_set=dataset type="videos" %}
    {% endfor %}

    {% if actors %}
    <div class="index-actor-preview">
        <h2>Actors:</h2>
        <div class="card-deck">
            {% for actor in actors %}
            {% include "viewer/actor_card.html" with actor=actor %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}