{% extends 'viewer/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <table class="table table-dark">
                <tbody>
                    <tr>
                        {% for label in object_list %}
                        <td><a href="/label/{{label.id}}/"><p>{{label.label}}</p></a><a href="{% url 'viewer:label-delete' label.id %}"><i class="fas fa-trash-alt"></i></a></td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <form method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Add label">
            </form>
            {% if error %}
            <div class="alert alert-danger">
                {{error}}
            </div>
            {% endif %}


        </div>
    </div>



</div>
{% endblock %}